<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>pet owners</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="com.example.petclinic.model.Owner"*/-->
    <h1 th:text="'List of owners'">List of owners</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 200px;">ID</th>
            <th style="width: 200px;">First Name</th>
            <th style="width: 200px;">Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner:${owners}">
            <td th:text="${owner?.id}">1</td>
            <td th:text="${owner?.firstName}">1</td>
            <td th:text="${owner?.lastName}">1</td>
        </tr>
        </tbody>
    </table>
</body>
</html>